{% load static tailwind_tags %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SPARKY</title>
    {% tailwind_css %}
    <!-- ลิงก์ Google Font Fahkwang -->
    <link href="https://fonts.googleapis.com/css2?family=Fahkwang:wght@400;600&display=swap" rel="stylesheet">
   
</head>
<body class="bg-[#9bc0ff] font-fahkwang">
    <div class="flex flex-col min-h-screen  justify-center ">
            <div class="mx-auto w-1/2">
                <div class="bg-white p-8 rounded-lg shadow-lg ">
                    <div class=" my-3 "> 
                        <h2 class="text-2xl font-bold">การรีเซ็ตรหัสถูกส่งไปแล้ว</h2>
                    </div>                    
                    <div class="my-4">
                        <p>เราได้ส่งอีเมลถึงคุณพร้อมคำแนะนำในการตั้งรหัสผ่านใหม่ คุณควรได้รับอีเมลในไม่ช้า!</p>
                        <p>หากคุณไม่ได้รับอีเมล กรุณาตรวจสอบในโฟลเดอร์สแปมหรือ  <a class="badge badge-error badge-outline " href="{% url 'password_reset' %}">ลองอีกครั้ง</a></p>
        
                    </div>

                </div>
            </div>
    </div>
</body>  
</html>

