{% load static tailwind_tags %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SPARKY</title>
    {% tailwind_css %}
    <!-- ลิงก์ Google Font Fahkwang -->
    <link href="https://fonts.googleapis.com/css2?family=Fahkwang:wght@400;600&display=swap" rel="stylesheet">
   
</head>
<body class="bg-[#9bc0ff] font-fahkwang">
    <div class="flex flex-col min-h-screen  justify-center ">
            <div class="mx-auto w-1/2">
                <div class="bg-white p-8 rounded-lg shadow-lg ">
                    <div class=" my-3 "> 
                        <h2 class="text-2xl font-bold">รีเซ็ตรหัสผ่านเรียบร้อย</h2>
                    </div>                    
                    <div class="my-4">
                        <p>รหัสผ่านของคุณถูกรีเซ็ตเรียบร้อยแล้ว คุณสามารถเข้าสู่ระบบด้วยรหัสผ่านใหม่ของคุณได้แล้ว</p>
                    </div>
                    <div class="mt-4 ">
                        <a class="btn btn-neutral text-white"  href="{% url 'login' %}">เข้าสู่ระบบ</a>
                    </div>
                </div>

            </div>

        </div>
    </div>
</body>  
</html>

