{% load static tailwind_tags %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SPARKY</title>
    {% tailwind_css %}
    <!-- ลิงก์ Google Font Fahkwang -->
    <link href="https://fonts.googleapis.com/css2?family=Fahkwang:wght@400;600&display=swap" rel="stylesheet">
   
</head>
<div class="flex flex-grow">
    <body class="flex flex-col min-h-screen items-center font-fahkwang bg-[#ffff]">
        <div class="flex flex-grow w-1/4 ">
            <div class="flex-grow p-8 mt-8">
                <!-- <div class=" flex justify-center items-center ">
                    <img src="{% static 'image/Logo.png' %}" alt="Logo" class="w-32 max-h-32">
                </div> -->
                <div class="text-center mt-7">
                    <h1 class="text-7xl font-bold  text-[#4873bd] ">SPARKY</h1>
                    <p class="text-4xl  text-[#4873bd] my-4 mb-8" >คลินิกทันตกรรม</p>
                </div>
                

                <a href="{% url 'login' %}" class="mt-7 btn bg-[#4873bd] border-[#4873bd] text-base  text-[#ffff] w-full rounded-full hover:bg-[#ffff]  hover:text-[#4873bd] hover:border-[#4873bd]" >เข้าสู่ระบบ</a>
                
                <div class="relative w-full flex items-center justify-center my-7">
                    <hr class="w-full border-[#4873bd] ">
                    <div class="absolute bg-white font-bold text-[#4873bd] text-2xs px-4 py-2 rounded-full border border-[#4873bd] text-center ">
                        หรือ
                    </div>
                </div>
            
                <a href="{% url 'register' %}" class="btn bg-[#4873bd] border-[#4873bd] text-base  text-[#ffff] w-full rounded-full hover:bg-[#ffff]  hover:text-[#4873bd] hover:border-[#4873bd] ">สมัครสมาชิก</a>
            </div>
        </div>
        
    </body>
</div>
</html>