{% extends 'base.html' %}
{% block main%}
<!-- นัดหมายวันนี้-->
<div class="flex mb-3">
        <div class=" mr-3 bg-white p-4  rounded-2xl w-1/4 h-full mb-4  flex flex-col justify-between ">
          <div class="ml-3 mt-1 mb-1 ">
            <span class="text-blue-800">จำนวนนัดหมายวันนี้</span>
          </div>
          <div class="flex-grow flex justify-center items-center mb-5">
            <h1 class="text-center text-3xl font-bold"><span class="text-green-500">{{success_or_fail_today}} </span>/ {{count_appointment_today}}</h1>
          </div>
        </div>
        <div class=" bg-white p-4  rounded-2xl w-1/4 h-full mb-4 flex flex-col justify-between">
          <div class="ml-3 mt-1 mb-1">
            <span class="text-blue-800">จำนวนนัดหมายทั้งหมด</span>
          </div>
          <div class="flex-grow flex justify-center items-center mb-5">
            <h1 class="text-center text-3xl font-bold">{{count_appointment_all}}</h1>
          </div>

        </div>
        
</div>
<div class="mr-3">
  <div class=" bg-white p-4  rounded-2xl w-full mb-3 ">
    <div class="ml-3 mt-1 mb-1">
      <span class="text-blue-800">นัดหมายวันนี้</span>
    </div>
    <table class="table ">
      <!-- head -->
      <thead>
        <tr>
          <th class="text-center">ชื่อ-นามสกุล</th>
          <th class="text-center">รายการ</th>
          <th class="text-center">เวลา</th>
          <th class="text-center">ตัวเลือก</th>
        </tr>
      </thead>
      <tbody>
        {% for apt in appointment_page_obj %}
        <!-- row 1 -->
        <tr>
          <td>
            <div class="flex items-center gap-3">
              <div class="avatar">
                <div class="mask mask-squircle h-12 w-12">
                  {% if apt.user.profile.image %}
                    <img src="{{apt.user.profile.image.url}}" alt="รูปโปรไฟล์ของผู้ใช้">
                  {% else %}
                    <i class="fa-solid fa-user-circle text-gray-500 text-5xl "></i>
                  {% endif %}
                </div>
              </div>
              <div>
                <div class="text-sm">{{apt.user.title}}{{apt.user.first_name}} {{apt.user.last_name}}</div>
              </div>
            </div>
          </td>
          <td class="text-center">
            {% if apt.detail %}
            <div class="text-xs">{{apt.detail}} {{apt.treatment}}</div>
            {% else %}
            <div class="text-xs">{{apt.treatment}}</div>
            {% endif %}
            <div class="badge badge-ghost badge-sm">{{apt.dentist.user.title}}{{apt.dentist.user.first_name}} {{apt.dentist.user.last_name}}</div>
          </td>
          <td>
            <div class="text-xs text-center">{{apt.time_slot}}</div>
          </td>
          <th class="flex justify-center items-center mt-3.5">
            {% if apt.status == 'ไม่สำเร็จ' %}
            <i class="fa-regular fa-rectangle-xmark text-xl mr-2 text-red-500"></i>

            {% elif apt.status == 'สำเร็จ' %}
            <i class="fa-solid fa-square-check text-xl mr-2 text-green-500"></i>
            {% else %}
            <i class="fa-solid fa-hourglass-start text-xl mr-2 "></i>
            {% endif %}
          </th>

          
        </tr>      
      {% endfor %}
      </tbody>
      
      
    </table>
      <div class="flex justify-center mt-4">
        <nav class="btn-group">
            {% if appointment_page_obj.has_previous %}
            <a href="?appointment_page=1" class="btn btn-outline btn-sm">หน้าแรก</a>
            <a href="?appointment_page={{ appointment_page_obj.previous_page_number }}" class="btn btn-outline btn-sm">ก่อนหน้า</a>
            {% endif %}

            <span class="btn btn-disabled btn-sm">หน้า {{ appointment_page_obj.number }} จาก {{ appointment_page_obj.paginator.num_pages }}</span>

            {% if appointment_page_obj.has_next %}
            <a href="?appointment_page={{ appointment_page_obj.next_page_number }}" class="btn btn-outline btn-sm">ถัดไป</a>
            <a href="?appointment_page={{ appointment_page_obj.paginator.num_pages }}" class="btn btn-outline btn-sm">หน้าสุดท้าย</a>
            {% endif %}
        </nav>
      </div>
    

  </div>
</div>

<!-- นัดหมายทั้งหมด-->
<div class="mr-3">
  <div class="  bg-white p-3 rounded-2xl w-full">
    <div class="ml-3 mt-1 mb-1">
      <a href="#" class="text-lg text-blue-800">นัดหมายทั้งหมด</a>
    </div>

     
    <div class="flex flex-wrap justify-between items-center  p-4 mb-3 ">
      <!-- Search Form -->
      <form method="GET" class="flex items-center space-x-2 w-full md:w-auto mb-4 md:mb-0">
        <input 
          type="text" 
          name="search" 
          placeholder="ค้นหาชื่อคนไข้..."
          class="text-sm border-b-2 border-gray-300 focus:outline-none focus:border-blue-500 p-1 w-full md:w-96"
          value="{{ request.GET.search }}">
        <button type="submit" class="text-blue-500 hover:text-blue-700">
          <i class="fa-solid fa-magnifying-glass"></i>
        </button>
      </form>
    
      <!-- Filter Form -->
      <form method="GET" class="flex items-center space-x-4 w-full h-3 md:w-auto">
        <!-- Day Filter -->
        <div class="form-control">
          <label for="day" class="label">
            <span class="label-text">เลือกวัน:</span>
          </label>
          <select name="day" id="day" class="select select-bordered w-full md:w-28">
            <option value="">ทั้งหมด</option>
            {% for day in days %}
              <option value="{{ day }}" {% if selected_day == day|stringformat:"d" %}selected{% endif %}>{{ day }}</option>
            {% endfor %}
          </select>
        </div>
    
        <!-- Month Filter -->
        <div class="form-control">
          <label for="month" class="label">
            <span class="label-text">เลือกเดือน:</span>
          </label>
          <select name="month" id="month" class="select select-bordered w-full md:w-36">
            <option value="">ทั้งหมด</option>
            {% for number, month in months %}
              <option value="{{ number }}" {% if selected_month == number|stringformat:"d" %}selected{% endif %}>{{ month }}</option>
            {% endfor %}
          </select>
        </div>
    
        <!-- Year Filter -->
        <div class="form-control">
          <label for="year" class="label">
            <span class="label-text">เลือกปี:</span>
          </label>
          <select name="year" id="year" class="select select-bordered w-full md:w-28">
            <option value="">ทั้งหมด</option>
            {% for year in years %}
              <option value="{{ year }}" {% if selected_year == year|stringformat:"d" %}selected{% endif %}>{{ year }}</option>
            {% endfor %}
          </select>
        </div>

        <div class="form-control">
          <label for="status" class="label">
            <span class="label-text">สถานะ:</span>
          </label>
          <select name="status" id="status" class="select select-bordered w-full md:w-36">
              <option value="">ทั้งหมด</option>
              {% for value, label in statuses %}
                <option value="{{ value }}" {% if selected_status == value %}selected{% endif %}>{{ label }}</option>
              {% endfor %}
          </select>
        </div>
    
        <!-- Submit Button -->
        <div class="form-control">
          <button type="submit" class="btn btn-outline btn-sm w-full mt-6">
            กรองข้อมูล
          </button>
        </div>
      </form>
    </div>

    <table class="table ">
      <!-- head -->
      <thead>
        <tr>
          <th class="text-center">ชื่อ-นามสกุล</th>
          <th class="text-center">รายการ</th>
          <th class="text-center">วัน</th>
          <th class="text-center">เวลา</th>
          <th class="text-center">สถานะ</th>
        
        </tr>
      </thead>
      <tbody>
        {% for apt in page_obj %}
        <!-- row 1 -->
        <tr>
          <td>
            <div class="flex items-center gap-3">
              <div class="avatar">
                <div class="mask mask-squircle h-12 w-12">
                  {% if apt.user.profile.image %}
                    <img src="{{apt.user.profile.image.url}}" alt="รูปโปรไฟล์ของผู้ใช้">
                  {% else %}
                    <i class="fa-solid fa-user-circle text-gray-500 text-5xl "></i>
                  {% endif %}
                </div>
              </div>
              <div>
                <div class="text-sm">{{apt.user.title}}{{apt.user.first_name}} {{apt.user.last_name}}</div>
              </div>
            </div>
          </td>
          <td class="text-center">
            {% if apt.detail %}
            <div class="text-xs">{{apt.detail}} {{apt.treatment}}</div>
            {% else %}
            <div class="text-xs">{{apt.treatment}}</div>
            {% endif %}
            <div class="badge badge-ghost badge-sm">{{apt.dentist.user.title}}{{apt.dentist.user.first_name}} {{apt.dentist.user.last_name}}</div>
          </td>
          <td>
            <div class="text-xs text-center">{{apt.date}}</div>
          </td>
          <td>
            <div class="text-xs text-center">{{apt.time_slot}}</div>
          </td>
          <td>
            <div class=" text-center text-xs">
              {% if apt.status == 'สำเร็จ' %}
                  <i class="fa-solid fa-square-check text-xl mr-2 text-green-500"></i>
              {% elif apt.status == 'ไม่สำเร็จ' %}
                <i class="fa-regular fa-rectangle-xmark text-xl mr-2 text-red-500"></i>
              {% else %} 
                  {{apt.status}}
              {% endif %}
            </div>
          </td>
      

          
        </tr>      
      {% endfor %}
      </tbody>
      
      
    </table>
    <div class="flex justify-center mt-4">
      <nav class="btn-group">
          {% if page_obj.has_previous %}
          <a href="?page=1&{{ query_params }}" class="btn btn-outline btn-sm">หน้าแรก</a>
          <a href="?page={{ page_obj.previous_page_number }}&{{ query_params }}" class="btn btn-outline btn-sm">ก่อนหน้า</a>
          {% endif %}
    
          <span class="btn btn-disabled btn-sm">หน้า {{ page_obj.number }} จาก {{ page_obj.paginator.num_pages }}</span>
    
          {% if page_obj.has_next %}
          <a href="?page={{ page_obj.next_page_number }}&{{ query_params }}" class="btn btn-outline btn-sm">ถัดไป</a>
          <a href="?page={{ page_obj.paginator.num_pages }}&{{ query_params }}" class="btn btn-outline btn-sm">หน้าสุดท้าย</a>
          {% endif %}
      </nav>
    </div>
    
  </div>
  </div>
</div>
{% endblock%}