{% extends 'base.html' %}
{% block main%}
<!-- การรักษาวันนี้-->
<div class="flex flex-col">
  <div class="mx-4" >
      <div class=" bg-white p-4  rounded-2xl w-full mb-4">
        <div class="ml-3 mt-1 mb-1">
          <span class="text-blue-800">การรักษาวันนี้</span>
        </div>
        <table class="table ">
          <!-- head -->
          <thead>
            <tr>
              <th class="text-center">ชื่อ</th>
              <th class="text-center">รายการ</th>
              <th class="text-center">เวลา</th>
              <th class="text-center">ตัวเลือก</th>
            </tr>
          </thead>
          <tbody>
            {% for apt in appointment_page_obj %}
            <!-- row 1 -->
            <tr>
              <td>
                <div class="flex items-center gap-3">
                  <div class="avatar">
                    <div class="mask mask-squircle h-12 w-12">
                      <img
                        src="{{apt.user.profile.image.url}}"
                        alt="รูปโปรไฟล์ของผู้ใช้" />
                    </div>
                  </div>
                  <div>
                    <div class="text-sm">{{apt.user.title}}{{apt.user.first_name}} {{apt.user.last_name}}</div>
                  </div>
                </div>
              </td>
              <td class="text-center">
                {% if apt.detail %}
                <div class="text-xs">{{apt.detail}} {{apt.treatment}}</div>
                {% else %}
                <div class="text-xs">{{apt.treatment}}</div>
                {% endif %}
                <div class="badge badge-ghost badge-sm">{{apt.dentist.user.title}}{{apt.dentist.user.first_name}} {{apt.dentist.user.last_name}}</div>
              </td>
              <td>
                <div class="text-xs">{{apt.time_slot}}</div>
              </td>
              <th class="flex justify-center items-center mt-3.5">
                  {% if apt.treatmenthistory_set.all|length > 0 and apt.treatmenthistory_set.last.status %}
                  <i class="fa-solid fa-square-check text-xl mr-2 text-green-500"></i>
                  {% elif apt.status == 'สำเร็จ' %}
                  <a href="#" onclick="openAddModal('{{ apt.user.id }}', '{{ apt.user.title }}{{ apt.user.first_name }} {{ apt.user.last_name }}',
                  '{{ apt.dentist.user.title }}{{ apt.dentist.user.first_name }} {{ apt.dentist.user.last_name }}',
                  '{{apt.treatment.treatmentName}}',
                  '{{apt.treatment.price}}',
                  '{{apt.id}}')">
                      <i class="fa-solid fa-square-plus text-xl mr-2 text-blue-500"></i>
                  </a>
              
                  {% else %}
                  {% endif %}
              </th>

              
            </tr>      
          {% endfor %}
          </tbody>
          
          
        </table>
        <div class="flex justify-center mt-4">
          <nav class="btn-group">
              {% if appointment_page_obj.has_previous %}
              <a href="?appointment_page=1" class="btn btn-outline btn-sm">หน้าแรก</a>
              <a href="?appointment_page={{ appointment_page_obj.previous_page_number }}" class="btn btn-outline btn-sm">ก่อนหน้า</a>
              {% endif %}

              <span class="btn btn-disabled btn-sm">หน้า {{ appointment_page_obj.number }} จาก {{ appointment_page_obj.paginator.num_pages }}</span>

              {% if appointment_page_obj.has_next %}
              <a href="?appointment_page={{ appointment_page_obj.next_page_number }}" class="btn btn-outline btn-sm">ถัดไป</a>
              <a href="?appointment_page={{ appointment_page_obj.paginator.num_pages }}" class="btn btn-outline btn-sm">หน้าสุดท้าย</a>
              {% endif %}
          </nav>
      </div>

      
        
  </div>

  <div class="" >
    <div class=" bg-white p-4  rounded-2xl w-full mb-4">
      <div class="ml-3 mt-1 mb-1">
        <span class="text-blue-800">การรักษาทั้งหมด</span>
      </div>
      <table class="table ">
        <!-- head -->
        <thead>
          <tr>
            <th class="text-center">ชื่อ</th>
            <th class="text-center">รายการ</th>
            <th class="text-center">เวลา</th>
            <th class="text-center">ตัวเลือก</th>
          </tr>
        </thead>
        <tbody>
          {% for apt in page_obj %}
          <!-- row 1 -->
          <tr>
            <td>
              <div class="flex items-center gap-3">
                <div class="avatar">
                  <div class="mask mask-squircle h-12 w-12">
                    <img
                      src="{{apt.user.profile.image.url}}"
                      alt="รูปโปรไฟล์ของผู้ใช้" />
                  </div>
                </div>
                <div>
                  <div class="text-sm">{{apt.user.title}}{{apt.user.first_name}} {{apt.user.last_name}}</div>
                </div>
              </div>
            </td>
            <td class="text-center">
              {% if apt.detail %}
              <div class="text-xs">{{apt.detail}} {{apt.treatment}}</div>
              {% else %}
              <div class="text-xs">{{apt.treatment}}</div>
              {% endif %}
              <div class="badge badge-ghost badge-sm">{{apt.dentist.user.title}}{{apt.dentist.user.first_name}} {{apt.dentist.user.last_name}}</div>
            </td>
            <td>
              <div class="text-xs">{{apt.time_slot}}</div>
            </td>
            <th class="flex justify-center items-center mt-3.5">
                {% if apt.treatmenthistory_set.all|length > 0 and apt.treatmenthistory_set.last.status %}
                <i class="fa-solid fa-square-check text-xl mr-2 text-green-500"></i>
                {% elif apt.status == 'สำเร็จ' %}
                <a href="#" onclick="openAddModal('{{ apt.user.id }}', '{{ apt.user.title }}{{ apt.user.first_name }} {{ apt.user.last_name }}',
                '{{ apt.dentist.user.title }}{{ apt.dentist.user.first_name }} {{ apt.dentist.user.last_name }}',
                '{{apt.treatment.treatmentName}}',
                '{{apt.treatment.price}}',
                '{{apt.id}}')">
                    <i class="fa-solid fa-square-plus text-xl mr-2 text-blue-500"></i>
                </a>
            
                {% else %}
                {% endif %}
            </th>

            
          </tr>      
        {% endfor %}
        </tbody>
        
        
      </table>
      <div class="flex justify-center mt-4">
        <nav class="btn-group">
            {% if page_obj.has_previous %}
            <a href="?page=1" class="btn btn-outline btn-sm">หน้าแรก</a>
            <a href="?page={{ page_obj.previous_page_number }}" class="btn btn-outline btn-sm">ก่อนหน้า</a>
            {% endif %}

            <span class="btn btn-disabled btn-sm">หน้า {{ page_obj.number }} จาก {{ page_obj.paginator.num_pages }}</span>

            {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}" class="btn btn-outline btn-sm">ถัดไป</a>
            <a href="?page={{ page_obj.paginator.num_pages }}" class="btn btn-outline btn-sm">หน้าสุดท้าย</a>
            {% endif %}
        </nav>
    </div>

    
      
</div>

 
</div>
<!-- Modal เพิ่ม-->
<div id="addTreatmentHistoryModal" class="fixed inset-0 flex items-center justify-center z-50 hidden bg-gray-500 bg-opacity-50">
    <div class="w-1/3 max-w-md">
        <div class="bg-white p-8 rounded-lg shadow-lg w-full">
          <h3 class="text-xl  mb-4 text-blue-800">การรักษา</h3>
          <form id="addForm" method="POST" >
            {% csrf_token %}
                <label for="user">ชื่อคนไข้</label><br>
                    <input type="text" id="userName" name="user" readonly class="input input-bordered w-full my-2" >
                    <input type="hidden" id="userId" name="user" readonly  >
                    <input type="hidden" id="appointmentId" name="appointment" readonly  >

                    <label for="dentist">ชื่อทันตแพทย์</label><br>
                    <input type="text" id="dentist" name="dentist"   readonly class="input input-bordered w-full my-2" >
                        
                    <label for="treatment">ประเภทการรักษา</label><br>
                    <input type="text" id="treatment" name="treatment" readonly class="input input-bordered w-full  my-2" >

                    <label for="description">รายละเอียดการรักษา</label><br>
                    <textarea id="description" name="description" required class="textarea textarea-bordered w-full my-2"></textarea>
                    
                    <label for="cost">ค่าใช้จ่าย</label><br>
                    <input type="text" id="cost" name="cost" class="input input-bordered w-full  my-2" >

                    <div class="mt-4 flex justify-end">
                      <button type="submit" class="btn bg-blue-500 text-white hover:bg-blue-400 mr-2">+ เพิ่มการรักษา</button>
                      <button type="button" class="btn text-red-500 bg-white border-2 border-red-500  hover:bg-red-500 hover:text-white hover:border-red-500 " onclick="closeAddModal()">ยกเลิก</button>
                    </div>
          </form>
        </div>
      </div>
  </div>
<script>
    function openAddModal(userId,userName,dentistName,treatmentName,price,aptId) {
        // เปิด Modal ที่จะเพิ่มนัดหมาย
        const modal = document.getElementById('addTreatmentHistoryModal');
        document.getElementById('addForm').action = `/dentist/add_treatmenthistory/`; 
        modal.classList.remove('hidden');  // แสดง Modal โดยการลบคลาส hidden
        

        // ส่งค่า user_id ไปยังฟอร์ม
        const userInput = document.getElementById('userId');
        userInput.value = userId;

         // แสดงชื่อผู้ใช้ในฟอร์ม
         const userNameInput = document.getElementById('userName');
        userNameInput.value = userName;  // แสดงชื่อผู้ใช้ในฟอร์ม

         // ส่งชื่อทันตแพทย์ไปยังฟอร์ม
        const dentistInput = document.getElementById('dentist');
        dentistInput.value = dentistName;

        const treatmentInput = document.getElementById('treatment');
        treatmentInput.value = treatmentName;

        const priceInput = document.getElementById('cost');
        priceInput.value = price;

        const aptInput = document.getElementById('appointmentId');
        aptInput.value = aptId;
    }

    // ฟังก์ชันปิด Modal
    function closeAddModal() {
        const modal = document.getElementById('addTreatmentHistoryModal');
        modal.classList.add('hidden');  // ซ่อน Modal โดยการเพิ่มคลาส hidden
    }

</script>
{% endblock%}