{% extends 'base.html' %}
{% block main %}
<div class="mt-8 flex flex-col justify-center items-center">    
    <div class="w-1/2 max-w-md">
        <div class=" bg-white p-8 rounded-lg shadow-lg w-full ">
            <h3 class="text-xl font-semibold mb-4">ทันตแพทย์</h3>
            <p>คุณต้องการแก้ไขข้อมูลทันตแพทย์หรือไม่?</p>
            <form id="addForm" method="POST" >
                {% csrf_token %}
                <div class="mt-3">
                        <label for="dentistName">ชื่อทันตแพทย์</label><br>
                        <input type="text" id="dentistName" name="dentistName" value="{{dentist.dentistName}}" class="input input-bordered w-full  my-1" >

                        <label for="d_email">อีเมล</label><br>
                        <input type="email" id="d_email" name="d_email"  value="{{dentist.d_email}}" required class="input input-bordered w-full  my-1" >

                        <label for="d_phone">เบอร์โทร</label><br>
                        <input type="text" id="d_phone" name="d_phone" value="{{dentist.d_phone}}" maxlength="10" pattern="\d{10}" required class="input input-bordered w-full  my-1" >
    
                        <label for="workDays">วันทำงาน</label><br>
                        <div id="workDays" class="mt-2 flex flex-wrap gap-2">
                                <label class="flex items-center gap-2">
                                    <input type="checkbox" name="workDays" value="1" class="checkbox checkbox-primary"
                                    {% if "1" in dentist.workDays %} checked {% endif %} >
                                    จันทร์
                                </label>
                                <label class="flex items-center gap-2">
                                    <input type="checkbox" name="workDays" value="2" class="checkbox checkbox-primary"
                                        {% if "2" in dentist.workDays %} checked {% endif %} > 
                                    อังคาร
                                </label>
                                <label class="flex items-center gap-2">
                                    <input type="checkbox" name="workDays" value="3" class="checkbox checkbox-primary"
                                    {% if "3" in dentist.workDays %} checked {% endif %}>                                 
                                    พุธ
                                </label>
                                <label class="flex items-center gap-2">
                                    <input type="checkbox" name="workDays" value="4" class="checkbox checkbox-primary"
                                    {% if "4" in dentist.workDays %} checked {% endif %}>                                    
                                    พฤหัสบดี
                                </label>
                                <label class="flex items-center gap-2">
                                    <input type="checkbox" name="workDays" value="5" class="checkbox checkbox-primary"
                                    {% if "5" in dentist.workDays %} checked {% endif %}>    
                                    ศุกร์
                                </label>
                                <label class="flex items-center gap-2">
                                    <input type="checkbox" name="workDays" value="6" class="checkbox checkbox-primary"
                                    {% if "6" in dentist.workDays %} checked {% endif %}>       
                                    เสาร์
                                </label>
                                <label class="flex items-center gap-2">
                                    <input type="checkbox" name="workDays" value="7" class="checkbox checkbox-primary"
                                    {% if "7" in dentist.workDays %} checked {% endif %}>
                                    อาทิตย์
                                </label>
                        </div>
                    
                        <label for="startTime">เวลาเริ่มทำงาน</label><br>
                        <select id="startTime" name="startTime" required class="select select-bordered w-full my-1">
                            <option value="" disabled {% if not dentist.startTime %} selected {% endif %}>เลือกเวลาเริ่มทำงาน</option>
                            <option value="08:00" {% if dentist.startTime == "08:00" %} selected {% endif %}>08:00</option>
                            <option value="09:00" {% if dentist.startTime == "09:00" %} selected {% endif %}>09:00</option>
                            <option value="10:00" {% if dentist.startTime == "10:00" %} selected {% endif %}>10:00</option>
                            <option value="11:00" {% if dentist.startTime == "11:00" %} selected {% endif %}>11:00</option>
                            <option value="12:00" {% if dentist.startTime == "12:00" %} selected {% endif %}>12:00</option>
                            <option value="13:00" {% if dentist.startTime == "13:00" %} selected {% endif %}>13:00</option>
                            <option value="14:00" {% if dentist.startTime == "14:00" %} selected {% endif %}>14:00</option>
                            <option value="15:00" {% if dentist.startTime == "15:00" %} selected {% endif %}>15:00</option>
                            <option value="16:00" {% if dentist.startTime == "16:00" %} selected {% endif %}>16:00</option>
                            <option value="17:00" {% if dentist.startTime == "17:00" %} selected {% endif %}>17:00</option>
                            <option value="18:00" {% if dentist.startTime == "18:00" %} selected {% endif %}>18:00</option>
                            <option value="19:00" {% if dentist.startTime == "19:00" %} selected {% endif %}>19:00</option>
                            <option value="20:00" {% if dentist.startTime == "20:00" %} selected {% endif %}>20:00</option>
                        </select>

                        <label for="endTime">เวลาหยุดทำงาน</label><br>
                        <select id="endTime" name="endTime" required class="select select-bordered w-full my-1">
                            <option value="" disabled {% if not dentist.endTime %} selected {% endif %}>เลือกเวลาหยุดทำงาน</option>
                            <option value="08:00" {% if dentist.endTime == "08:00" %} selected {% endif %}>08:00</option>
                            <option value="09:00" {% if dentist.endTime == "09:00" %} selected {% endif %}>09:00</option>
                            <option value="10:00" {% if dentist.endTime == "10:00" %} selected {% endif %}>10:00</option>
                            <option value="11:00" {% if dentist.endTime == "11:00" %} selected {% endif %}>11:00</option>
                            <option value="12:00" {% if dentist.endTime == "12:00" %} selected {% endif %}>12:00</option>
                            <option value="13:00" {% if dentist.endTime == "13:00" %} selected {% endif %}>13:00</option>
                            <option value="14:00" {% if dentist.endTime == "14:00" %} selected {% endif %}>14:00</option>
                            <option value="15:00" {% if dentist.endTime == "15:00" %} selected {% endif %}>15:00</option>
                            <option value="16:00" {% if dentist.endTime == "16:00" %} selected {% endif %}>16:00</option>
                            <option value="17:00" {% if dentist.endTime == "17:00" %} selected {% endif %}>17:00</option>
                            <option value="18:00" {% if dentist.endTime == "18:00" %} selected {% endif %}>18:00</option>
                            <option value="19:00" {% if dentist.endTime == "19:00" %} selected {% endif %}>19:00</option>
                            <option value="20:00" {% if dentist.endTime == "20:00" %} selected {% endif %}>20:00</option>
                        </select>
    
                        <div class="mt-4 flex justify-end">
                            <button type="submit" class="btn bg-[#7B42C4] text-white hover:bg-[#7469B6] mr-2">บันทึกการข้อมูล</button>
                            <a href="{% url 'dentist-manage' %}" class="btn btn-ghost " >ยกเลิก</a>
                        </div>
                </div>
            </form>
        </div>
    </div>
</div>

{% endblock %}